.navbar {
    position: relative;
    padding: 0 1rem;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--navbar-height);
    scroll-snap-align: start;
}

@keyframes blur {
    0% {
        -webkit-backdrop-filter: blur(0px) brightness(1);
        backdrop-filter: blur(0px) brightness(1);
    }

    50% {
        -webkit-backdrop-filter: blur(calc(0.5 * var(--blur-radius))) brightness(0.9);
        backdrop-filter: blur(calc(0.5 * var(--blur-radius))) brightness(0.9);
    }

    100% {
        -webkit-backdrop-filter: blur(var(--blur-radius)) brightness(0.8);
        backdrop-filter: blur(var(--blur-radius)) brightness(0.8);
    }
}

.navbar,
.navbar-nav-nav {
    -webkit-backdrop-filter: blur(var(--blur-radius)) brightness(0.8);
    backdrop-filter: blur(var(--blur-radius)) brightness(0.8);
    z-index: 2;
}

.navbar ul {
    padding-inline: 0;
}

.nav-link {
    color: rgb(var(--font-color));
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
}

.nav-link .link-text {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-nav {
    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    height: 100%;
    margin: 0 2.5%;
    padding: 0;
    list-style-type: none;
}

.nav-item {
    display: inline-block;
    vertical-align: middle;
    width: fit-content;
    margin: 0;
    overflow: hidden;
    font-weight: 600;
    font-size: 1.5rem;
}

.nav-item.level-1 {
    padding: 0 1em;
    height: var(--navbar-height);
}

.nav-item.level-2 {
    display: block;
    height: max(1.5em, calc(var(--navbar-height) * 0.67));
}

.nav-item:has(ul):hover>ul {
    display: block;
    animation: blur var(--transition-speed) ease;
}

.navbar-nav-nav {
    position: absolute;
    top: var(--navbar-height);
    display: none;
    /* causes lower width of parent. fix with animation */
    height: fit-content;
    border-bottom-left-radius: var(--corners);
    border-bottom-right-radius: var(--corners);
}

#searchForm {
    display: inline-block;
    height: 100%;
    width: fit-content;
}

#searchField {
    background: none;
    border: 0.01rem solid rgb(var(--theme-color));
    color: rgb(var(--font-color));
    width: 15em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--transition-speed) ease;
}

#searchField:hover {
    background: rgba(var(--theme-color), 0.05);
    transition: var(--transition-speed) ease;
}

#searchButton {
    background: rgb(var(--theme-color));
    color: rgb(var(--bg-color));
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--transition-speed) ease;
}

#searchButton:hover {
    background: rgba(var(--theme-color), 0.95);
    transition: var(--transition-speed) ease;
}