{% extends 'layout.twig' %}

{% block title %}Error 404: Page not found{% endblock %}

{% block content %}

<article>

	<h1>Fehler 404</h1>
	<h2>Seite nicht gefunden</h2>
	<p>Wer sucht, der findet. Frag bloß nicht was!</p>
	<p>Es gibt leider keine Ergebnisse, dabei haben wir alles durchgraben.</p>

	<img class="image" src="https://media.tenor.com/zDBO981fEZMAAAAC/squirrel.gif"></p>

</article>

{% endblock %}